.show-container {
  margin: 100px auto;
}

.page-photo {
  height: 30rem;
  width: 100%;
  object-fit: cover;
  border: 5px solid white;
}

.left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid white;
  padding-bottom: 10px;

  h2 {
    font-size: 3em;
  }
}

.grid-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 20vh;
  margin-top: 100px;
}

li {
  list-style-type: none;
}

.list {
  padding-left: 0;
  padding-top: 20px;
}

.add-ingredient-section {
  margin: 0 auto;
  width: 50%;
}

.add-ingredient-btn{
  display: inline-block;
  text-decoration: none;
  background: #87befd;
  color: #FFF;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  transition: .4s;
  opacity: .8;
}

.add-ingredient-btn:hover{
    background: #fe8684;
    text-decoration: none;
    color: white;
}

.add-review-section {
  width: 100%;
}

.add-review-btn{
  display: inline-block;
  text-decoration: none;
  background: #9f88fc;
  color: #FFF;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  transition: .4s;
  opacity: .8;
}

.add-review-btn:hover{
    background: #fe8684;
    text-decoration: none;
    color: white;
}

.list.review-list {
  padding-top: 0;
}

.review-list li:first-child {
  padding-top: 0;
}

.review-list li {
  padding-top: 20px;
}

#review-header {
  h1 {
        text-align: center;
        border-bottom: 1px solid lightgrey;
        width: 90%;
    }
  }



