li {
  list-style-type: none;
}

.list {
  padding-left: 0;
  padding-top: 20px;
}

.ingredients p {
  padding-top: 10px;
}

// Containers
.show-container {
  margin: 100px auto;
}

.left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  margin-top: 100px;
  max-width: 100%;
}

// Image
.page-photo {
  height: 30rem;
  width: 100%;
  object-fit: cover;
  border: 5px solid white;
}


// Headers
.form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid white;
  padding-bottom: 10px;

  h2 {
    font-size: 3em;
  }
}

// Add Ingredients

.add-ingredient-section {
  margin: 0 auto;
  width: 50%;
}


// Review Section
.add-review-section {
  width: 100%;
}

// Review - List Items
.list.review-list {
  padding-top: 0;

  p {
    text-align: center;
  }
}

.review-list li:first-child {
  padding-top: 0;
}

.review-list li {
  padding-top: 20px;
}

#review-header {
  h1 {
        text-align: center;
        border-bottom: 1px solid lightgrey;
        width: 90%;
    }
  }

  .left-container .add-review-btn {
    position: sticky;
    top: 50%;
  }



