.show-container {
  margin: 100px auto;
}

.add-functionality {
  display: flex;
}

.page-photo {
  height: 30rem;
  width: 100%;
  object-fit: cover;
  border: 5px solid white;
}


.drink-container {
    // height: 100vh;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}

.form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 3px solid white;
  padding-bottom: 10px;

  h2 {
    font-size: 3em;
  }
}

.grid-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 20vh;
  margin-top: 100px;
}

.ingredient-list li {
  list-style-type: none;
}

.ingredient-list {
  padding-left: 0;
  padding-top: 20px;
}

.add-ingredient-section {
  margin: 0 auto;
  width: 50%;
}

.add-ingredient-btn{
  display: inline-block;
  text-decoration: none;
  background: #87befd;
  color: #FFF;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  transition: .4s;
  opacity: .8;
}

.add-ingredient-btn:hover{
    background: #fe8684;
    text-decoration: none;
    color: white;
}

.add-review-section {
  width: 100%;
}

.add-review-btn{
  display: inline-block;
  text-decoration: none;
  background: #9f88fc;
  color: #FFF;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  transition: .4s;
  opacity: .8;
}

.add-review-btn:hover{
    background: #fe8684;
    text-decoration: none;
    color: white;
}



