#navigation {
  display: flex;
  flex-direction: rows;
  justify-content: center;
  align-items: center;
  width: 100%;


  img {
    opacity: 1;
  }
}

.fixed-top {
  opacity: 1;
  background: #f4f4f4
}

.fixed-top.scrolled {
  background-color: #f4f4f4 !important;
  opacity: .8;
  transition: background-color 200ms linear;

}

.logo {
  width: 250px;
}

