// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css";

$blue: #2e84ea;

.container {
  margin-top: 100px;
}

.cocktail-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-auto-rows: 1fr;
  justify-content: center;
  padding: 5px 30px;
  margin-top: 100px;
  min-width: 100%;
  min-height: 40vh;


.card  {
  height: 100%;
}

  img {
    width: 100%;
    height: 15vw;
    object-fit: cover;

    &:hover {
      opacity: .8;
    }
  }
}

  .card-text {
    text-align: center;
  }

  a {
    color: black;
    font-weight: bold;
  }

#navigation {
  display: flex;
  flex-direction: rows;
  justify-content: center;
  align-items: center;

  img {
    opacity: 1;
  }
}

.container-header {

}

.create-button {
  padding: 15px;
}

.add-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  position: relative;
}

.fixed-top {
  opacity: 1;
  background: #f4f4f4
}

.fixed-top.scrolled {
  background-color: #f4f4f4 !important;
  opacity: .8;
  transition: background-color 200ms linear;

}


